<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Módulos</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>
<body>
  
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-12">
        <h3>Módulos disponibles:</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi earum alias aspernatur, quas nisi optio modi, maxime illo rem corrupti vero voluptas provident placeat quisquam, numquam sed necessitatibus? Dicta, doloremque.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi earum alias aspernatur, quas nisi optio modi, maxime illo rem corrupti vero voluptas provident placeat quisquam, numquam sed necessitatibus? Dicta, doloremque.
        </p>
      </div>
      <hr>
      <a class="btn btn-info" href="./cars/">MÓDULO CARS</a>
    </div>
  </div>

</body>
</html>